<%- include('partials/header') %>

<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to The Blog App</h1>
    <p class="lead">This is a simple blog application using Express.js</p>
    <hr class="my-4" />
    <p>View posts, register, and start blogging!</p>
    <a class="btn btn-primary" href="/posts" role="button">View Posts</a>
  </div>
</div>

<%- include('partials/footer') %>
